[Desktop Entry]
Type=Application
Name=Salak
GenericName=Markdown Reader
Comment=Read the Markdown files of a folder
Exec=salak %f
Icon=com.tiziolabs.salak
Terminal=false
MimeType=text/markdown;
Categories=Office;Viewer;
Keywords=markdown;md;reader;viewer;notes;documentation;
StartupWMClass=com.tiziolabs.salak
